## Useful libraries.

In [887]:
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV

In [888]:
X_train_path = "./Dataset/jobapplication/X_train.csv"
X_test_path = "./Dataset/jobapplication/X_test.csv"
y_test_path = "./Dataset/jobapplication/y_train.csv"

In [889]:
X_train_ = pd.read_csv(X_train_path)
X_test_ = pd.read_csv(X_test_path)
y_train_ = pd.read_csv(y_test_path)

In [890]:
dataset

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,experience,company_size,last_new_job,training_hours,...,major_discipline_Humanities,major_discipline_No Major,major_discipline_Other,major_discipline_STEM,company_type_Early Stage Startup,company_type_Funded Startup,company_type_NGO,company_type_Other,company_type_Public Sector,company_type_Pvt Ltd
0,1.246827,0.836,1.0,0.0,1.0,1.0,5.0,3.0,1.0,-0.339118,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.720815,0.920,1.0,0.0,1.0,1.0,5.0,3.0,1.0,-0.805330,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,-0.498309,0.866,1.0,0.0,0.0,2.0,10.0,3.0,1.0,-0.255866,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,-1.381650,0.910,1.0,1.0,0.0,2.0,25.0,2.0,5.0,1.159422,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.354552,0.740,1.0,0.0,1.0,2.0,5.0,2.0,0.0,-0.805330,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,0.492756,0.920,1.0,1.0,2.0,2.0,8.0,7.0,2.0,-0.955184,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
6702,-0.196681,0.884,1.0,0.0,1.0,2.0,5.0,7.0,1.0,-0.955184,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
6703,1.246827,0.836,1.0,0.0,2.0,3.0,19.0,1.0,4.0,-0.755379,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6704,1.203737,0.897,1.0,0.0,1.0,3.0,5.0,1.0,0.0,0.343550,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
6705,-1.273925,0.624,1.0,1.0,1.0,3.0,5.0,0.0,0.0,0.693209,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

## 1. About the dataset.

A company which is active in Big Data and Data Science wants to hire data scientists among people who successfully pass some courses which are conducted by the company. Many people signup for their training. Company wants to know which of these candidates really wants to work for the company after training or looking for a new employment because it helps to reduce the cost and time as well as the quality of training or planning the courses and categorization of candidates. Information related to demographics, education, experience are in hands from candidates signup and enrollment.
The dataset is divided into 3 different csv files, X_train, X_test and y_train.

## 2. Objectives.

By the end of this notebook, we would be able to:
* predict the probability of a candidate looking for a new job or will work for the company.
* interpret the model to find out factors that contributes to employees decision.

## 3. Data preprocessing.

In [891]:
#combine merge test dataset for preprocessing.
frames = [X_train_, X_test_]
dataset = pd.concat(frames)
copy_dataset = dataset.copy()

In [892]:
dataset.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17
2,24086,city_57,0.866,Male,No relevent experience,no_enrollment,Graduate,STEM,10,NaN,NaN,1,50
3,26773,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,>4,135
4,32325,city_143,0.740,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,17

In [893]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19158 entries, 0 to 6705
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 2.0+ MB

In [894]:
dataset.relevent_experience.value_counts()

relevent_experience
Has relevent experience    13792
No relevent experience      5366
Name: count, dtype: int64

In [895]:
dataset.enrolled_university.value_counts()

enrolled_university
no_enrollment       13817
Full time course     3757
Part time course     1198
Name: count, dtype: int64

In [896]:
dataset.education_level.value_counts()

education_level
Graduate          11598
Masters            4361
High School        2017
Phd                 414
Primary School      308
Name: count, dtype: int64

In [897]:
dataset.company_type.value_counts()

company_type
Pvt Ltd                9817
Funded Startup         1001
Public Sector           955
Early Stage Startup     603
NGO                     521
Other                   121
Name: count, dtype: int64

In [898]:
dataset.enrolled_university.value_counts()

enrolled_university
no_enrollment       13817
Full time course     3757
Part time course     1198
Name: count, dtype: int64

In [899]:
dataset.major_discipline.value_counts()

major_discipline
STEM               14492
Humanities           669
Other                381
Business Degree      327
Arts                 253
No Major             223
Name: count, dtype: int64

In [900]:
ordinal_columns = ["enrolled_university", "education_level", "gender", "relevent_experience","experience", "last_new_job"]
null_columns =["last_new_job", "company_type|", "company_size", "major_discipline", "education_level", "enrolled_university", "gender"]

In [901]:
dataset[ordinal_columns] = dataset[ordinal_columns].replace({"no_enrollment":0, "Full time course":1,"Part time course":2, "Primary School":0,
                                                             "High School":1,"Graduate":2,"Masters":3,"Phd":4,"Female":0,"Male":1, "Other": 2, "Has relevent experience":1,
                                                             "No relevent experience":0,"<1":0,">20":25, "never":0, ">4":5})

In [902]:
dataset

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,city_138,0.836,1.0,0,1.0,1.0,NaN,5,100-500,Pvt Ltd,1,45
1,4241,city_160,0.920,1.0,0,1.0,1.0,NaN,5,NaN,NaN,1,17
2,24086,city_57,0.866,1.0,0,0.0,2.0,STEM,10,NaN,NaN,1,50
3,26773,city_16,0.910,1.0,1,0.0,2.0,STEM,25,50-99,Pvt Ltd,5,135
4,32325,city_143,0.740,NaN,0,1.0,2.0,STEM,5,NaN,NaN,0,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,3601,city_103,0.920,1.0,1,2.0,2.0,STEM,8,10000+,Pvt Ltd,2,8
6702,2745,city_71,0.884,1.0,0,1.0,2.0,STEM,5,NaN,NaN,1,8
6703,18520,city_138,0.836,1.0,0,2.0,3.0,Humanities,19,10/49,Pvt Ltd,4,20
6704,10067,city_136,0.897,1.0,0,1.0,3.0,STEM,5,NaN,NaN,0,86
6705,8203,city_21,0.624,1.0,1,NaN,3.0,STEM,5,<10,Early Stage Startup,NaN,107

In [903]:
dataset["city"] = dataset["city"].str.replace("city_", " ")

In [904]:
dataset

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,138,0.836,1.0,0,1.0,1.0,NaN,5,100-500,Pvt Ltd,1,45
1,4241,160,0.920,1.0,0,1.0,1.0,NaN,5,NaN,NaN,1,17
2,24086,57,0.866,1.0,0,0.0,2.0,STEM,10,NaN,NaN,1,50
3,26773,16,0.910,1.0,1,0.0,2.0,STEM,25,50-99,Pvt Ltd,5,135
4,32325,143,0.740,NaN,0,1.0,2.0,STEM,5,NaN,NaN,0,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,3601,103,0.920,1.0,1,2.0,2.0,STEM,8,10000+,Pvt Ltd,2,8
6702,2745,71,0.884,1.0,0,1.0,2.0,STEM,5,NaN,NaN,1,8
6703,18520,138,0.836,1.0,0,2.0,3.0,Humanities,19,10/49,Pvt Ltd,4,20
6704,10067,136,0.897,1.0,0,1.0,3.0,STEM,5,NaN,NaN,0,86
6705,8203,21,0.624,1.0,1,NaN,3.0,STEM,5,<10,Early Stage Startup,NaN,107

In [905]:
dataset.company_size.value_counts()

company_size
50-99        3083
100-500      2571
10000+       2019
10/49        1471
1000-4999    1328
<10          1308
500-999       877
5000-9999     563
Name: count, dtype: int64

In [906]:
dataset["company_size"] = dataset["company_size"].replace({"<10":0, "10/49":1, "50-99":2, "100-500":3, "500-999":4,
                                                          "1000-4999":5, "5000-9999":6, "10000+":7},)

In [907]:
dataset

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,138,0.836,1.0,0,1.0,1.0,NaN,5,3.0,Pvt Ltd,1,45
1,4241,160,0.920,1.0,0,1.0,1.0,NaN,5,NaN,NaN,1,17
2,24086,57,0.866,1.0,0,0.0,2.0,STEM,10,NaN,NaN,1,50
3,26773,16,0.910,1.0,1,0.0,2.0,STEM,25,2.0,Pvt Ltd,5,135
4,32325,143,0.740,NaN,0,1.0,2.0,STEM,5,NaN,NaN,0,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,3601,103,0.920,1.0,1,2.0,2.0,STEM,8,7.0,Pvt Ltd,2,8
6702,2745,71,0.884,1.0,0,1.0,2.0,STEM,5,NaN,NaN,1,8
6703,18520,138,0.836,1.0,0,2.0,3.0,Humanities,19,1.0,Pvt Ltd,4,20
6704,10067,136,0.897,1.0,0,1.0,3.0,STEM,5,NaN,NaN,0,86
6705,8203,21,0.624,1.0,1,NaN,3.0,STEM,5,0.0,Early Stage Startup,NaN,107

In [908]:
cat_columns = ["major_discipline", "company_type"]

In [909]:
set1 = set(cat_columns)
set2 = set(dataset.columns.tolist())

In [910]:
new_set = set2.difference(set1)

In [911]:
dataset.fillna(method="ffill", inplace=True)

/var/folders/vj/wt_8lzx116n3fmwqy271q0z80000gp/T/ipykernel_30039/1285102664.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataset.fillna(method="ffill", inplace=True)

In [912]:
dataset.sample(20)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
624,27597,114,0.926,1.0,1,0.0,2.0,Other,15,5.0,Pvt Ltd,1,145
4221,16741,103,0.920,1.0,0,0.0,2.0,STEM,9,3.0,Pvt Ltd,1,44
5829,4269,67,0.855,0.0,1,0.0,2.0,STEM,14,2.0,Pvt Ltd,2,72
11147,33190,114,0.926,1.0,1,0.0,2.0,STEM,9,1.0,Pvt Ltd,3,10
11275,12177,10,0.895,1.0,1,0.0,3.0,STEM,9,2.0,Funded Startup,1,81
4997,624,103,0.920,1.0,1,0.0,3.0,STEM,25,3.0,Pvt Ltd,2,26
2732,1932,104,0.924,1.0,1,0.0,2.0,STEM,5,3.0,Pvt Ltd,1,126
4456,5195,61,0.913,1.0,1,0.0,3.0,STEM,25,3.0,Pvt Ltd,2,74
8871,11134,103,0.920,1.0,1,0.0,2.0,STEM,6,7.0,Pvt Ltd,1,35
10317,32262,158,0.766,1.0,0,1.0,2.0,STEM,3,4.0,Funded Startup,1,210
8778,28635,21,0.624,0.0,1,0.0,2.0,STEM,8,5.0,Pvt Ltd,0,163
4181,13694,104,0.924,1.0,1,0.0,2.0,STEM,5,0.0,Early Stage Startup,1,105
4340,20908,61,0.913,0.0,0,1.0,3.0,STEM,13,6.0,Public Sector,2,6
1785,6284,116,0.743,1.0,1,0.0,3.0,STEM,11,2.0,Pvt Ltd,1,28
4814,12739,83,0.923,1.0,0,1.0,1.0,STEM,7,2.0,NGO,5,108
11023,17427,65,0.802,1.0,1,0.0,3.0,STEM,8,6.0,Pvt Ltd,1,102
6235,10611,71,0.884,0.0,0,0.0,4.0,STEM,25,2.0,Public Sector,5,27
1353,1584,103,0.920,0.0,1,0.0,3.0,Arts,15,3.0,Public Sector,5,70
2015,27836,16,0.910,1.0,1,0.0,2.0,STEM,6,5.0,Pvt Ltd,2,24
10150,20147,90,0.698,0.0,0,1.0,2.0,STEM,1,2.0,Pvt Ltd,0,34

In [913]:
cat_columns = ["major_discipline", "company_type"]

In [914]:
transformed_col = set(dataset.columns.tolist()).difference(set(cat_columns))

In [915]:
dataset[list(transformed_col)] = dataset[list(transformed_col)].astype("float32")

In [916]:
dataset

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298.0,138.0,0.836,1.0,0.0,1.0,1.0,NaN,5.0,3.0,Pvt Ltd,1.0,45.0
1,4241.0,160.0,0.920,1.0,0.0,1.0,1.0,NaN,5.0,3.0,Pvt Ltd,1.0,17.0
2,24086.0,57.0,0.866,1.0,0.0,0.0,2.0,STEM,10.0,3.0,Pvt Ltd,1.0,50.0
3,26773.0,16.0,0.910,1.0,1.0,0.0,2.0,STEM,25.0,2.0,Pvt Ltd,5.0,135.0
4,32325.0,143.0,0.740,1.0,0.0,1.0,2.0,STEM,5.0,2.0,Pvt Ltd,0.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,3601.0,103.0,0.920,1.0,1.0,2.0,2.0,STEM,8.0,7.0,Pvt Ltd,2.0,8.0
6702,2745.0,71.0,0.884,1.0,0.0,1.0,2.0,STEM,5.0,7.0,Pvt Ltd,1.0,8.0
6703,18520.0,138.0,0.836,1.0,0.0,2.0,3.0,Humanities,19.0,1.0,Pvt Ltd,4.0,20.0
6704,10067.0,136.0,0.897,1.0,0.0,1.0,3.0,STEM,5.0,1.0,Pvt Ltd,0.0,86.0
6705,8203.0,21.0,0.624,1.0,1.0,1.0,3.0,STEM,5.0,0.0,Early Stage Startup,0.0,107.0

In [917]:
dataset.apply(lambda col: col)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298.0,138.0,0.836,1.0,0.0,1.0,1.0,NaN,5.0,3.0,Pvt Ltd,1.0,45.0
1,4241.0,160.0,0.920,1.0,0.0,1.0,1.0,NaN,5.0,3.0,Pvt Ltd,1.0,17.0
2,24086.0,57.0,0.866,1.0,0.0,0.0,2.0,STEM,10.0,3.0,Pvt Ltd,1.0,50.0
3,26773.0,16.0,0.910,1.0,1.0,0.0,2.0,STEM,25.0,2.0,Pvt Ltd,5.0,135.0
4,32325.0,143.0,0.740,1.0,0.0,1.0,2.0,STEM,5.0,2.0,Pvt Ltd,0.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,3601.0,103.0,0.920,1.0,1.0,2.0,2.0,STEM,8.0,7.0,Pvt Ltd,2.0,8.0
6702,2745.0,71.0,0.884,1.0,0.0,1.0,2.0,STEM,5.0,7.0,Pvt Ltd,1.0,8.0
6703,18520.0,138.0,0.836,1.0,0.0,2.0,3.0,Humanities,19.0,1.0,Pvt Ltd,4.0,20.0
6704,10067.0,136.0,0.897,1.0,0.0,1.0,3.0,STEM,5.0,1.0,Pvt Ltd,0.0,86.0
6705,8203.0,21.0,0.624,1.0,1.0,1.0,3.0,STEM,5.0,0.0,Early Stage Startup,0.0,107.0

In [918]:
city_avg = dataset["city"].mean()
city_std_ = dataset["city"].std()
train_hours_avg = dataset["training_hours"].mean()
train_hours_std_ = dataset["training_hours"].std()
dataset["city"] = dataset["city"].apply(lambda r: (r-city_avg)/city_std_)
dataset["training_hours"] = dataset["training_hours"].apply(lambda r: (r-train_hours_avg)/train_hours_std_)

In [919]:
dataset

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298.0,1.246827,0.836,1.0,0.0,1.0,1.0,NaN,5.0,3.0,Pvt Ltd,1.0,-0.339118
1,4241.0,1.720815,0.920,1.0,0.0,1.0,1.0,NaN,5.0,3.0,Pvt Ltd,1.0,-0.805330
2,24086.0,-0.498309,0.866,1.0,0.0,0.0,2.0,STEM,10.0,3.0,Pvt Ltd,1.0,-0.255866
3,26773.0,-1.381650,0.910,1.0,1.0,0.0,2.0,STEM,25.0,2.0,Pvt Ltd,5.0,1.159422
4,32325.0,1.354552,0.740,1.0,0.0,1.0,2.0,STEM,5.0,2.0,Pvt Ltd,0.0,-0.805330
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,3601.0,0.492756,0.920,1.0,1.0,2.0,2.0,STEM,8.0,7.0,Pvt Ltd,2.0,-0.955184
6702,2745.0,-0.196681,0.884,1.0,0.0,1.0,2.0,STEM,5.0,7.0,Pvt Ltd,1.0,-0.955184
6703,18520.0,1.246827,0.836,1.0,0.0,2.0,3.0,Humanities,19.0,1.0,Pvt Ltd,4.0,-0.755379
6704,10067.0,1.203737,0.897,1.0,0.0,1.0,3.0,STEM,5.0,1.0,Pvt Ltd,0.0,0.343550
6705,8203.0,-1.273925,0.624,1.0,1.0,1.0,3.0,STEM,5.0,0.0,Early Stage Startup,0.0,0.693209

In [920]:
len(dataset.dtypes)

13

In [921]:
dataset = pd.get_dummies(dataset, dtype=float)

In [922]:
dataset

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,experience,company_size,last_new_job,...,major_discipline_Humanities,major_discipline_No Major,major_discipline_Other,major_discipline_STEM,company_type_Early Stage Startup,company_type_Funded Startup,company_type_NGO,company_type_Other,company_type_Public Sector,company_type_Pvt Ltd
0,25298.0,1.246827,0.836,1.0,0.0,1.0,1.0,5.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,4241.0,1.720815,0.920,1.0,0.0,1.0,1.0,5.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,24086.0,-0.498309,0.866,1.0,0.0,0.0,2.0,10.0,3.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,26773.0,-1.381650,0.910,1.0,1.0,0.0,2.0,25.0,2.0,5.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,32325.0,1.354552,0.740,1.0,0.0,1.0,2.0,5.0,2.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,3601.0,0.492756,0.920,1.0,1.0,2.0,2.0,8.0,7.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
6702,2745.0,-0.196681,0.884,1.0,0.0,1.0,2.0,5.0,7.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
6703,18520.0,1.246827,0.836,1.0,0.0,2.0,3.0,19.0,1.0,4.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6704,10067.0,1.203737,0.897,1.0,0.0,1.0,3.0,5.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
6705,8203.0,-1.273925,0.624,1.0,1.0,1.0,3.0,5.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [923]:
X_train_.shape

(12452, 13)

In [924]:
dataset.drop(columns="enrollee_id", inplace=True)

In [925]:
dataset

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,experience,company_size,last_new_job,training_hours,...,major_discipline_Humanities,major_discipline_No Major,major_discipline_Other,major_discipline_STEM,company_type_Early Stage Startup,company_type_Funded Startup,company_type_NGO,company_type_Other,company_type_Public Sector,company_type_Pvt Ltd
0,1.246827,0.836,1.0,0.0,1.0,1.0,5.0,3.0,1.0,-0.339118,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.720815,0.920,1.0,0.0,1.0,1.0,5.0,3.0,1.0,-0.805330,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,-0.498309,0.866,1.0,0.0,0.0,2.0,10.0,3.0,1.0,-0.255866,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,-1.381650,0.910,1.0,1.0,0.0,2.0,25.0,2.0,5.0,1.159422,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.354552,0.740,1.0,0.0,1.0,2.0,5.0,2.0,0.0,-0.805330,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,0.492756,0.920,1.0,1.0,2.0,2.0,8.0,7.0,2.0,-0.955184,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
6702,-0.196681,0.884,1.0,0.0,1.0,2.0,5.0,7.0,1.0,-0.955184,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
6703,1.246827,0.836,1.0,0.0,2.0,3.0,19.0,1.0,4.0,-0.755379,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6704,1.203737,0.897,1.0,0.0,1.0,3.0,5.0,1.0,0.0,0.343550,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
6705,-1.273925,0.624,1.0,1.0,1.0,3.0,5.0,0.0,0.0,0.693209,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [926]:
y_train_.drop(columns="enrollee_id", inplace=True)